body {
  font-family: "Segoe UI", "DejaVu Sans",Verdana, sans-serif;
  background: url('/image/fond.jpg') repeat;
  font-size:0.8em;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000000;
}
.monBody #container {
  width: 900px;
  margin: 0 auto;
  text-align: left;
  background:#ffffff;
}
.monBody #header {
    height:300px;
    background-color: black;
}
.monBody #menu {
height:22px;
color:#ffffff;
font-size:1.4em;
background:#000000;
}
.monBody #contenu {
 padding:20px;
}
.monBody #footer {
padding: 0 10px;
font-size:0.8em;
text-align:center;
height:150px;
background:url(/image/footer.jpg) no-repeat;
}
#menu a	{
color:#ffffff;
text-decoration:none;
padding-left: 10px;
padding-right: 10px;
}

#menu a:hover	{
color:red;
text-decoration:none;
font-size: 20px;
  transition : 0.2s;

}

#menu {
display: flex;
/* text-align: center; */
flex-direction: row;
justify-content: space-between;
padding: 8px;
}



#LogoNode {
  max-height: 20%;
  max-width: 20%;
}
.tabpayscir  {
float:right;
padding:10px;
border:1px solid black;
margin:10px
-moz-border-radius:15px;
border-radius:15px;
}

.myboth  {
clear:both;
}

.lienNotFound {
align:center;
background-color: #1d81b1;
color: #FFFFFF;
text-transform: uppercase;
}

.photoNotFound {
max-height: 40%;
max-width: 40%;
}

.drapeau {
width: 40px;
height: 35px;
}

.resultat {
  border-radius: 20px;
padding: 10px;
margin: auto;
border: 2px solid black;
width: 300px;
text-align: center;
}

/* POUR TOUS LES FORMULAIRE */

button {
  color: white;
  background-color: red;
  width: 70px;
  height: 30px;
  padding: 2px;
}

button:hover {
width: 90px;
height: 50px;
transition: all 1s;
}

form {
	display: flex;
	margin-left:auto;
	margin-right:auto;
	align-items: center;
	flex-direction: column;
}

.row {
	display: flex;
  padding: 5px;
}

.row > label{
	text-align: left;
}

input, textarea, select  {
  border-radius: 10px;
}

input[type=number]{
width: 56px;
margin-right: 2px;
margin-left: 2px;
}

.autoPetit {
  width: 180px;
}

.auto {
	width: 200px;
	flex:auto;
}


/* TAILLE DE TEXTE */

a  {
text-decoration:none;
color:#0072ff;
}

h1 {
  text-align: center;
  font-size: 40px;
}

label {
  font-weight: bold;
}

/* TABLEAU */


table {
 border-collapse:collapse;
 width:90%;
 }

 #resultats table {
   width:100%;
 }

 #tabAjoutTps {
   width: auto;
 }
th, td {
 border:1px solid black;
 width:20%;
 }
 th {
   font-weight: bold;
   text-align: center;
   padding: 10px;
   background-color: #7D7D80;
   color: white;
}
td {
 text-align:center;
 background-color: #E1E2E6;
 }

 .err {
   color: red;
   text-align: center;
 }
