<h1> Ajouter un sponsor </h1>

<form action="/listerSponsors" method="POST">
  <div class="row">
    <label class="auto" for="Nom">Nom</label>
    <input class="auto" type="text" name="sponom" id="Nom" required/>
  </div>
  <div class="row">
    <label class="auto" for="secteur">Secteur d'activite</label>
    <input class="auto" type="text" name="sposectactivite" id="Sec" required/> m
  </div>


  <button type="submit" >AJOUTER</button>
</form>
