<h1> Ajouter un sponsor </h1>

<form action="#" method="POST">
  <div class="row">
    <label class="auto" for="Nom">Nom</label>
    <input class="auto" type="text" name="nom" id="Nom" />
  </div>
  <div class="row">
    <label class="auto" for="secteur">Secteur d'activite</label>
    <input class="auto" type="text" name="directeur" id="Directeur" /> m
  </div>
  <div class="row">
    <label class="auto" for="Ecurie">Ecurie sponsorisee</label>
    <select class="auto" name="ecurie">

    </select>
  </div>

  <button type="submit" name="valider">AJOUTER</button>
</form>
