<h1> Ajouter un Pilote </h1>

<form action="/listerPilote" method="POST">
  <div class="row">
    <label class="auto" for="Nom">Nom</label>
    <input class="auto" type="text" name="nom" id="Nom" />
  </div>
  <div class="row">
    <label class="auto" for="Prenom">Prenom</label>
    <input class="auto" type="text" name="prenom" id="Prenom" />
  </div>
  <div class="row">
    <label class="auto" for="Date">Date de naissance</label>
    <input class="auto" type="number" name="jour" id="jour" min="1" max="31"/> /
    <input class="auto" type="number" name="mois" id="mois" min="1" max="12"/> /
    <input class="auto" type="number" name="annee" id="annee" min="1920" max="2020"/>
  </div>
  <div class="row">
    <label class="auto" for="Natio">Nationalité</label>
    <select class="auto" name="natio">
      {{#each nationalite}}
      <option value="{{this.paynum}}">{{this.paynat}}</option>
      {{/each}}
    </select>
  </div>
  <div class="row">
    <label class="auto" for="Ecurie">Ecurie</label>
    <select class="auto" name="ecurie">
      {{#each nomEcurie}}
      <option value="{{this.ecunum}}">{{this.nom}}</option>
      {{/each}}
    </select>
  </div>
  <div class="row">
    <label class="auto" for="Point">Points</label>
    <input class="autoPetit" type="text" name="point" id="Points" />   pts
  </div>
  <div class="row">
    <label class="auto" for="Poids">Poids</label>
    <input class="autoPetit" type="text" name="poids" id="Poids" />     kg
  </div>
  <div class="row">
    <label class="auto" for="Taille">Taille</label>
    <input class="autoPetit" type="text" name="taille" id="Taille" />    cm
  </div>
  <div class="row">
    <label class="auto" for="Desc">Description</label>
    <textarea class="auto" name="desc" rows="5" cols="60"></textarea>
  </div>
  <button type="submit" name="valider">AJOUTER</button>
</form>
