<h1> Ajouter une ecurie </h1>

<form action="#" method="POST">
  <div class="row">
    <label class="auto" for="Nom">Nom</label>
    <input class="auto" type="text" name="nom" id="Nom" />
  </div>
  <div class="row">
    <label class="auto" for="Directeur">Directeur</label>
    <input class="auto" type="text" name="directeur" id="Directeur" /> m
  </div>
  <div class="row">
    <label class="auto" for="Adresse">Adresse du siege</label>
    <textarea name="desc" rows="8" cols="80"></textarea>
  </div>
  <div class="row">
    <label class="auto" for="Point">Points</label>
    <input class="auto" type="text" name="point" id="Points" /> pts
  </div>
  <div class="row">
    <label class="auto" for="Pays">Pays</label>
    <select class="auto" name="pays">

    </select>
  </div>
  <div class="row">
    <label class="auto" for="Image">Images</label>
    <input type="file" id="img" name="img" accept="image/png, image/jpeg, image/jpg, image/gif">
  </div>

  <button type="submit" name="valider">AJOUTER</button>
</form>
