<div class="resultat">
  <img src="/image/cat_resultat.png">
  <h1>Resultats</h1>
  <p>Selectionner un grand prix :</p>

  <select name="gp" id="gp_select">
      {{#each listeGrandPrix}}
      <option value="{{num}}">{{nom}}</option>
      {{/each}}
  </select>
</br>
</br>
  <a href="/detailsResultats/{{num}}"><button type="submit" name="valider">VALIDER</button></a>
</div>
