    body {
    	font-family: "Segoe UI", "DejaVu Sans",Verdana, sans-serif;
    	background: url('/image/fond.jpg') repeat;
		  font-size:0.8em;
    	margin: 0;
    	padding: 0;
    	text-align: center;
    	color: #000000;
    }
    .monBody #container {
    	width: 1200px;
    	margin: 0 auto;
    	text-align: left;
    	background:#ffffff;
    }
    .monBody #header {
		    height:300px;
        background-color: black;
    }
	.monBody #menu {
		height:22px;
		color:#ffffff;
		font-size:1.4em;
		background:#000000;
    }
  .monBody #contenu {
		 padding:20px;
    }
    .monBody #footer {
    padding: 0 10px;
		font-size:0.8em;
		text-align:center;
		height:150px;
		background:url(/image/footer.jpg) no-repeat;
    }
	#menu a	{
		color:#ffffff;
		text-decoration:none;
    padding-left: 10px;
    padding-right: 10px;
	}

  #menu a:hover	{
    color:red;
    text-decoration:none;
    font-size: 20px;
      transition : 0.2s;

  }

  #menu {
    text-align: center;
    padding: 8px;
  }

  #LogoNode {
      max-height: 20%;
      max-width: 20%;
  }
  .tabpayscir  {
 	  float:right;
 	  padding:10px;
 	  border:1px solid black;
 	  margin:10px
 	  -moz-border-radius:15px;
 	  border-radius:15px;
 }

 .myboth  {
 	  clear:both;
 }
 a  {
 	text-decoration:none;
 	color:#0072ff;
 }
 .lienNotFound {
   align:center;
   background-color: #1d81b1;
   color: #FFFFFF;
   text-transform: uppercase;
 }

 .photoNotFound {
   max-height: 40%;
   max-width: 40%;
}

.drapeau {
  width: 40px;
  height: 35px;
}

.accueil {
  border-radius: 20px;
	padding: 10px;
	margin: auto;
  border: 2px solid black;
	width: 300px;
	text-align: center;
}

.accueil h2 {
	text-transform: uppercase;
	font-size:16px;
	font-weight:bold;
	text-decoration: underline;
}

.lettre {
  background-color: lightgrey;
  text-decoration: none;
  font-weight: bold;
  color: red;
  width: fit-content;
}

.lettre a {
font-size: 20px;
color: black;
}

.lettre a:hover{
font-size: 20px;
color: red;
}

.let {
font-size: 40px;
margin-top: -10px;
}

.imgpilote, .imgPiloteEnPlus {
  height: 175px;
  width: auto;
}

/* .imgPiloteEnPlus {
  height: 175px;
  width: 150px;
} */

.carrepilote {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.listePilote {
  width: 25%;
}

.listePilote a{
  color: black;
}

.listePilote a:hover{
  color: red;
}

.detPilote h1 {
  font-size: 22px;
}

.detPilote p {
  font-size: 18px;
}

.en {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cir {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.eccuu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.voittt {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.laa {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.imgvoitureici {
  height: 120px;
  width: auto;
  margin-right: 10px;
}
.imcirrr {
  height: 300px;
  width: auto;
}

.infopil1{
  margin-left: 5%;
}


.infopil2{
  margin-left: 5%;
}

.infopil3{
  margin-left: 5%;
}

.imgggg {
  height: 175px;
  width: auto;
}

.sponom {
  font-weight: bold;
}

.texttt {
  text-align: justify;
  width: 80%;
}

.infocirt {
  margin-left: 3%;
}

.infocirt h1 {
  font-size: 20px;
   display: inline;
}

.infocirt p {
  font-size: 18px;
   display: inline;
}

b {
  font-size: 20px;
}


.tabPPP th {
border:1px dotted #E8330C;
padding:10px;
background-color:#FFE4E2;
text-align: center;
font-size: 20px;
}

.tabPPP td {
font-size: 16px;
border:1px solid #E8330C;
padding:10px;
text-align: center;

}

.tabPPP table {
border:3px solid #E8330C;
border-collapse:collapse;
width:60%;
margin:auto;
}

.imgecuu {
  height: 200px;
  width: auto;
}

.infoecuu h1 {
  font-size: 18px;
   display: inline;
}

.infoecuu p {
  font-size: 15px;
   display: inline;
}

.infoecuu {
  margin-left: 5px;
}

.pilici h1 {
  font-size: 20px;
}

.choixliste {
  color: black;
  font-size: 13px;
}

.choixliste:hover {
  color: red;
  font-size: 15px;
}

.listePhotoBonusPilote {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.photoBonusPilote {
  margin-right: auto;
}

.photoBonusPilote p {
  margin-top: 0px;
  width: 250px;
  text-align: center;
  font-size: inherit;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.droite {
  order: 1;
}

.gauche {
  width: 80%;
}

#zoom { position: absolute;
     border: 1px solid #333;
     background: #333;
     padding: 3px;
     /* display: none; */
     color: #fff;
}
#zoom img {
  height: 100px;
  width: auto;
}
.textInfobulle {
  width: 200px;
  margin-left: 5px;
}

.textInfobulle h2 {
  margin: 0px;
  padding: 0px;
}
