{{#if session.login}}
<meta http-equiv="refresh" content="0; URL=accueil">
{{else}}
<div class="center">

</div>

<h1><img class="logo" src="/image/cat_login.png" alt="imglogin"><br>Administration</h1>

<form action="/accueil" method="POST">
  <div class="row">
    <label class="auto" for="Login">Login : </label>
    <input class="auto" type="text" name="login" id="Login" value="{{err}}" required/>
  </div>
  <div class="row">
    <br /><br />
    <label class="auto" for="Mdp">Mot de passe : </label>
    <input class="auto" type="password" name="mdp" id="mdp" />
  </div>

  {{#if err}}
  <p class="err" >Identifiant ou mot de passe incorrect ...</p>
  {{/if}}

  <button type="submit" name="valider">Connexion</button>
  <br>
  <a href="http://localhost:6800/">
    <button id="buttonPublic" type="button">Accéder à la partie public</button>
  </a>
</form>

<script src="/JS/connexion.js" charset="utf-8"></script>
{{/if}}
