<h1> Ajouter un Pilote </h1>

<form action="/listerPilote" method="POST" enctype="multipart/form-data">
  <div class="row">
    <label class="auto" for="Nom">Nom</label>
    <input class="auto" type="text" name="pilnom" id="Nom" />
  </div>
  <div class="row">
    <label class="auto" for="Prenom">Prenom</label>
    <input class="auto" type="text" name="pilprenom" id="Prenom" />
  </div>
  <div class="row">
    <label class="auto" for="Date">Date de naissance</label>
    <input class="auto" type="date" name="pildatenais" id="jour" />
  </div>
  <div class="row">
    <label class="auto" for="Natio">Nationalité</label>
    <select class="auto" name="paynum">
      {{#each nationalite}}
      <option value="{{this.paynum}}">{{this.paynat}}</option>
      {{/each}}
    </select>
  </div>
  <div class="row">
    <label class="auto" for="Ecurie">Ecurie</label>
    <select class="auto" name="ecunum">
      <option value="">pas d'écurie</option>
      {{#each nomEcurie}}
      <option value="{{this.ecunum}}">{{this.nom}}</option>
      {{/each}}
    </select>
  </div>
  <div class="row">
    <label class="auto" for="Point">Points</label>
    <input class="autoPetit" type="number" name="pilpoints" id="Points" />   pts
  </div>
  <div class="row">
    <label class="auto" for="Poids">Poids</label>
    <input class="autoPetit" type="number" name="pilpoids" id="Poids" />     kg
  </div>
  <div class="row">
    <label class="auto" for="Taille">Taille</label>
    <input class="autoPetit" type="number" name="piltaille" id="Taille" />    cm
  </div>
  <div class="row">
    <label class="auto" for="Desc">Description</label>
    <textarea class="auto" name="piltexte" rows="5" cols="60" ></textarea>
  </div>
  <!-- ////////////////////////////// GESTION DE L'IMAGE ///////////////////////////// -->
  <div class="row">
    <label class="auto" for="Image">Photo d'identité</label>
    <button type="button" id="buttonImgPil" onclick="chooseFile()" style="width: auto" >Ajouter photo d'identité</button>
    <img id="imageAjoutPil"
    title="modifier ..." alt="photo identité"
    onclick="inputFile()"
    style="display: none">
    <input type="file" id="inputAjoutImgPil" name="image" onchange="changeImage()" hidden>
  </div>
  <div class="row" id="comImg">
  </div>
  <!-- /////////////////////////////////////////////////////////////////////// -->
  <button type="submit">AJOUTER</button>
</form>

<script type="text/javascript">
  function agrandire() {
    $('#imageAjoutPil').hover(function() {
      $('#imageAjoutPil').animate({'height': '70px'}, 'medium');
    },
    function () {
      $('#imageAjoutPil').animate({'height': '60px'}, 'medium');
    });
  }
  function inputFile() {
    $('#inputAjoutImgPil').click();
  }
  function chooseFile() {
    $('#inputAjoutImgPil').click();
    $('#buttonImgPil').remove();
    $('#comImg').append('<label class="auto" for="commentaire">Commentaire photo d\'identité</label><textarea class="auto" name="phocommentaire" rows="2" cols="60" ></textarea>');
  }
  function changeImage() {
    $('#imageAjoutPil').attr('style','height: 60px;');
    var image = document.getElementById('imageAjoutPil');
	  image.src = URL.createObjectURL(event.target.files[0]);
  }
  $(document).ready(function() {
    agrandire();
  });
</script>
