<h1> Ajouter un Pilote </h1>

<form action="/listerPilote" method="POST">
  <div class="row">
    <label class="auto" for="Nom">Nom</label>
    <input class="auto" type="text" name="pilnom" id="Nom" />
  </div>
  <div class="row">
    <label class="auto" for="Prenom">Prenom</label>
    <input class="auto" type="text" name="pilprenom" id="Prenom" />
  </div>
  <div class="row">
    <label class="auto" for="Date">Date de naissance</label>
    <input class="auto" type="date" name="pildatenais" id="jour" />
  </div>
  <div class="row">
    <label class="auto" for="Natio">Nationalité</label>
    <select class="auto" name="paynum">
      {{#each nationalite}}
      <option value="{{this.paynum}}">{{this.paynat}}</option>
      {{/each}}
    </select>
  </div>
  <div class="row">
    <label class="auto" for="Ecurie">Ecurie</label>
    <select class="auto" name="ecunum">
      <option value="">pas d'écurie</option>
      {{#each nomEcurie}}
      <option value="{{this.ecunum}}">{{this.nom}}</option>
      {{/each}}
    </select>
  </div>
  <div class="row">
    <label class="auto" for="Point">Points</label>
    <input class="autoPetit" type="number" name="pilpoints" id="Points" />   pts
  </div>
  <div class="row">
    <label class="auto" for="Poids">Poids</label>
    <input class="autoPetit" type="number" name="pilpoids" id="Poids" />     kg
  </div>
  <div class="row">
    <label class="auto" for="Taille">Taille</label>
    <input class="autoPetit" type="number" name="piltaille" id="Taille" />    cm
  </div>
  <div class="row">
    <label class="auto" for="Desc">Description</label>
    <textarea class="auto" name="piltexte" rows="5" cols="60" ></textarea>
  </div>
  <button type="submit">AJOUTER</button>
</form>
