<h1> Ajouter une ecurie </h1>

<form action="/listerEcurie" method="POST" enctype="multipart/form-data">
  <div class="row">
    <label class="auto" for="Nom">Nom</label>
    <input class="auto" type="text" name="ecunom" id="Nom" />
  </div>
  <div class="row">
    <label class="auto" for="Directeur">Directeur</label>
    <input class="auto" type="text" name="ecunomdir" id="Directeur"  />
  </div>
  <div class="row">
    <label class="auto" for="Adresse">Adresse du siege</label>
    <textarea class="auto" name="ecuadrsiege" rows="8" cols="80" ></textarea>
  </div>
  <div class="row">
    <label class="auto" for="Point">Points</label>
    <input class="auto" type="text" name="ecupoints" id="Points" />
  </div>
  <div class="row">
    <label class="auto" for="Pays">Pays</label>
    <select class="auto" name="paynum" >
      <option value="" selected>Aucun</option>
      {{#each pays}}
      <option value="{{this.paynum}}">{{this.paynom}}</option>
      {{/each}}
    </select>
  </div>
  <div id="divImageEcu" class="row">
    <label class="auto" for="Image">Image</label>
    <button type="button" id="buttonImgEcu" onclick="chooseFile()" >Ajouter image</button>
    <img id="imageAjoutEcu"
    title="modifier l'image ..." alt="image écurie"
    onclick="inputFile()"
    style="display: none">
    <input type="file" id="inputAjoutImgEcu" name="image" onchange="changeImage()" hidden required>
  </div>

  <button type="submit" onclick="verif()">AJOUTER</button>
</form>

<script src="/JS/ajouterImageEcurie.js" charset="utf-8"></script>
