<h1> Ajouter un sponsor </h1>

<form action="/listerSponsors" method="POST">
  <div class="row">
    <label class="auto" for="Nom">Nom</label>
    <input class="auto" type="text" name="sponom" id="Nom" required/>
  </div>
  <div class="row">
    <label class="auto" for="secteur">Secteur d'activite</label>
    <input class="auto" type="text" name="sposectactivite" id="Sec" required/>
  </div>
  <div class="row">
    <label class="auto" for="Ecurie">Ecurie</label>
    <select class="auto" name="ecunum">
      <option value="0">Aucune</option>
      {{#each nomEcurie}}
      <option value="{{this.ecunum}}">{{this.nom}}</option>
      {{/each}}
    </select>
  </div>

  <button type="submit" >AJOUTER</button>
</form>
