<h1> Ajouter un circuit </h1>

<form action="/listerCircuits" enctype="multipart/form-data" method="POST">
  <div class="row">
    <label class="auto" for="Nom">Nom</label>
    <input class="auto" type="text" name="cirnom" id="Nom" />
  </div>
  <div class="row">
    <label class="auto" for="Longueur">Longueur</label>
    <input class="auto" type="text" name="cirlongueur" id="Long" /> m
  </div>
  <div class="row">
    <label class="auto" for="Pays">Pays</label>
    <select class="auto" name="paynum" required>
      {{#each pays}}
      <option value="{{this.paynum}}">{{this.paynom}}</option>
      {{/each}}
    </select>
  </div>
  <div class="row">
    <label class="auto" for="Image">Images</label>
    <button type="button" id="buttonImgCircuit" onclick="chooseFile()" style="height: auto" >Ajouter image</button>
    <img id="imageAjoutCircuit"
    title="modifier l'image ..." alt="image circuit"
    onclick="inputFile()"
    style="display: none">
    <input type="file" id="inputAjoutImgCir" name="image" onchange="changeImage()" hidden required>
  </div>
  <div class="row">
    <label class="auto" for="Personne">Nombre de spectateurs</label>
    <input class="autoPetit" type="number" name="cirnbspectateurs" id="Personne" /> personnes
  </div>
  <div class="row">
    <label class="auto" for="Desc">Description</label>
    <textarea class="auto" name="cirtext" rows="5" cols="60" required></textarea>
  </div>

  <button type="submit">AJOUTER</button>
</form>

<script type="text/javascript">
  function chooseFile() {
    $('#inputAjoutImgCir').click();
    $('#buttonImgCircuit').remove();
  }
  function inputFile() {
    $('#inputAjoutImgCir').click();
  }
  function agrandire() {
    $('#imageAjoutCircuit').hover(function() {
      $('#imageAjoutCircuit').animate({'height': '70px'}, 'medium');
    },
    function () {
      $('#imageAjoutCircuit').animate({'height': '60px'}, 'medium');
    });
  }
  function changeImage() {
    $('#imageAjoutCircuit').attr('style','height: 60px;');
    var image = document.getElementById('imageAjoutCircuit');
	   image.src = URL.createObjectURL(event.target.files[0]);
  }
  $(document).ready(function() {
    agrandire();
  });
</script>
