<h1> Ajouter une ecurie </h1>

<form action="/listerEcurie" method="POST">
  <div class="row">
    <label class="auto" for="Nom">Nom</label>
    <input class="auto" type="text" name="ecunom" id="Nom" required/>
  </div>
  <div class="row">
    <label class="auto" for="Directeur">Directeur</label>
    <input class="auto" type="text" name="ecunomdir" id="Directeur" required />
  </div>
  <div class="row">
    <label class="auto" for="Adresse">Adresse du siege</label>
    <textarea name="ecuadrsiege" rows="8" cols="80" required></textarea>
  </div>
  <div class="row">
    <label class="auto" for="Point">Points</label>
    <input class="auto" type="text" name="ecupoints" id="Points" required/> pts
  </div>
  <div class="row">
    <label class="auto" for="Pays">Pays</label>
    <select class="auto" name="paynum" required>
      {{#each pays}}
      <option value="{{this.paynum}}">{{this.paynom}}</option>
      {{/each}}
    </select>
  </div>
  <div class="row">
    <label class="auto" for="Image">Images</label>
    <button type="button" id="buttonImgEcu" onclick="chooseFile()" style="height: auto" >Ajouter image</button>
    <img id="imageAjoutEcu"
    title="modifier l'image ..." alt="image écurie"
    onclick="inputFile()"
    style="display: none">
    <input type="file" id="inputAjoutImgEcu" name="image" onchange="changeImage()" hidden>
  </div>

  <button type="submit">AJOUTER</button>
</form>

<script type="text/javascript">
  function chooseFile() {
    $('#inputAjoutImgEcu').click();
    $('#buttonImgEcu').remove();
  }
  function inputFile() {
    $('#inputAjoutImgEcu').click();
  }
  function agrandire() {
    $('#imageAjoutEcu').hover(function() {
      $('#imageAjoutEcu').animate({'height': '70px'}, 'medium');
    },
    function () {
      $('#imageAjoutEcu').animate({'height': '60px'}, 'medium');
    });
  }
  function changeImage() {
    $('#imageAjoutEcu').attr('style','height: 60px;');
    var image = document.getElementById('imageAjoutEcu');
	   image.src = URL.createObjectURL(event.target.files[0]);
  }
  $(document).ready(function() {
    agrandire();
  });
</script>
