<div class="resultat">
  <img src="/image/cat_resultat.png">
  <h1>Resultats</h1>
  <p>Selectionner un grand prix :</p>

<form class="form" action="/detailsResultats" method="post">

  <select name="gp" id="gp_select">
      {{#each listeGrandPrix}}
      <option value="{{num}}">{{nom}}</option>
      {{/each}}
  </select>
  <br>
  <button type="submit">VALIDER</button>
</form>


</div>
