<h1><img class="logo" src="/image/cat_sponsor.png"><br> Gestion des Sponsors </h1>
<a class="ajouter" href="/ajouterSponsors/"><p><img src="/image/act_add.png"> Ajouter un sponsor</p></a>

<table>
      <tr>
        <th>Nom</th>
        <th>Activité</th>
        <th>Actions</th>
      </tr>
      {{#each listeSponsor}}
        <tr>
            <td>{{this.nom}}</td>
            <td>{{this.act}}</td>
            <td><div class="modsup">
              <div class="modspo">
                <a href="/modifierSponsors/{{this.num}}"><img src="/image/act_edit.png"><p>Modifier</p></a>
              </div>
              <div class="sup">
                <a href="/supprimerSponsor/{{this.num}}"><img src="/image/act_delete.png"><p>Supprimer</p></a>
              </div>
            </td>
            </div>
        </tr>
      {{/each}}
</table>

{{#if est_supprime}}
<script src="/JS/estSupprimeSponsor.js" charset="utf-8"></script>
{{/if}}

{{#if est_ajoute}}
<script src="/JS/estAjouteSponsor.js" charset="utf-8"></script>
{{/if}}

{{#if est_modifie}}
<script src="/JS/estModifieSponsor.js" charset="utf-8"></script>
{{/if}}
