<table class="tabpayscir">
	{{#each listeGrandPrix}}
	<tr><td><img src="/image/pays/{{this.img}}" alt="drapeau du pays" class="drapeau" />
		<a class="choixliste" href="/detailsGP/{{this.num}}"> {{this.nom}}</a>
	</td></tr>
	{{/each}}
</table>
<br class="myboth" />
