<table class="tabpayscir">
	 {{#each listeCircuit}}
		<tr><td><img src="/image/pays/{{drapeau}}" alt="drapeau du pays" class="drapeau" />
      <a class="choixliste" href="/detailsCircuit/{{num}}"> {{nom}}</a>
    </td></tr>
 {{/each}}
</table>
<br class="myboth" />
