<table class="tabpayscir">
	 {{#each listeEcurie}}
		<tr><td><img src="/image/pays/{{this.payadrdrap}}" alt="drapeau du pays" class="drapeau"/>
      <a class="choixliste" href="/detailsEcurie/{{this.ecunom}}"> {{this.ecunom}}</a>
    </td></tr>
 {{/each}}
</table>
<br class="myboth" />
